@keyframes cursorPointer {
  from {
    r: 15px;
  }
  to {
    r: 3px;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: relative;
  background: var(--primary);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.matrix {
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: url(#clip-path);
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.algocideText {
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.cursorFollow {
  position: fixed;
  pointer-events: none;
}

.cursorFollowHover {
  position: fixed;
  animation-name: cursorPointer;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.navContainer {
  position: absolute;
  width: 100%;
  top: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.navItem {
  color: #64d86b;
  font-family: 'UbuntuMono';
}
