@keyframes cursorPointer {
  from {
    r: 15px;
  }
  to {
    r: 3px;
  }
}

.container {
  position: relative;
  background: var(--primary);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.matrix {
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: url(#clip-path);
}

.cursorDot {
  position: absolute;
  z-index: 99999999;
  background-color: #64d86b;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  pointer-events: none;
}

.cursorFollowHover {
  animation-name: cursorPointer;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.navContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navItem {
  color: #64d86b;
  font-family: 'UbuntuMono';
}
